html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.navbar-header {
    float: right !important;
}

.wrap > .container {
    padding: 100px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.click-link {
    color: #444444;
    text-decoration: none;
}

.click-link:hover {
    color: #444444;
    text-decoration: none;
}

.short-description {
    height: 92px;
    overflow: hidden;
}

.btn-download {
    font-size: 30px;
    margin-bottom: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h3 {
    margin: 0;
}

.panel-subcategory a:hover {
    text-decoration: none;
}

/* Gallery small images */
.gallery-item {
    display: inline-block;
    margin-bottom: 0;
}

.gallery-item:not(:first-child) {
    max-width: 100px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\f077";
}

a.desc:after {
    content: "\f078";
}

/*.sort-numerical a.asc:after {*/
    /*content: "\e153";*/
/*}*/

/*.sort-numerical a.desc:after {*/
    /*content: "\e154";*/
/*}*/

/*.sort-ordinal a.asc:after {*/
    /*content: "\e155";*/
/*}*/

/*.sort-ordinal a.desc:after {*/
    /*content: "\e156";*/
/*}*/

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
